body{
    align-items: center;
    background: grey;
    display:flex;
    justify-content: center;
    perspective: 1800px;
    text-align: center;

}
fieldset{
  margin-top: 16px;
  background: rgba(255,255,255,0.75);
  flex: 0 1 50%;
  box-shadow: 2px 2px 10px grey;
  margin-left: 25%
}
textarea{
  row=51;
  cols=10;
  resize: none;
}

form{
  text-align: center;
  display: flex;

}
#back{
  background: lightblue url("quizz.jpg") no-repeat fixed center;
  box-shadow:2px 2px 10px black;
  border-radius: 5%;
  width:90%;
  height: 1000px;
}


#error{
  position: absolute;
  top: 100px;
  left: 70%;
  color:red;
}

.test{
  transform: translateX(10vh);
  transform: translateY(20px);
  background-color: white;
  height: 600px;
  width: 600px;
  perspective: 1800px;
}


.decoinput{

padding:5px;
background-color: lightgrey;
border-radius:5px;
width:200px;
box-shadow:1px 1px 2px grey inset;
transition: 1.5s;
border: None;

}
aside{
  position: absolute;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
/*

.decoinput:valid{
    border: solid 2px green;
  }

.decoinput:invalid{
border: solid 2px red;

}*/
.decoinput:focus {
  border: solid 2px black;
  background-color: #ffffff;
  opacity: 1;
}

.hidden{
  display: none;
  color: green;
}
